<h1> Todos os Produtos </h1>

    <form action="/products/price100up" method="POST">
        <input type="submit" value="Preço maior que R$100" class="btn">
    </form>
    <br>
    <form action="/products/price100down" method="POST">
        <input type="submit" value="Preço menor que R$100" class="btn">
    </form>
    <br>
    <form action="/products/showcoca" method="POST">
        <input type="submit" value="Refri Coca-Cola Menor que R$50" class="btn">
    </form>
    <br>
    <form action="/products/showfood" method="POST">
        <input type="submit" value="Alimento" class="btn">
    </form>

{{#if auth}}

    {{!-- <a href="/products/create"></a><button class="corner-button">Adicionar Produto</button></a> --}}

{{/if}}

<div class="products">
    {{#each products}}
        <div class="product">
            <img src="{{this.image}}" alt="{{this.name}}">
            <h3>{{this.name}}</h3>
            <p>R$ {{this.price}}</p>

            <div class="actions">
                <a id="textlink" href="/products/{{this._id}}">Detalhes</a>
            </div>
        </div>
    {{/each}}
</div>
