<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylemain.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{{iconpage}}}" type="image/x-icon">
    <title>{{{page}}}</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
        
            <img class="navicones" src="{{{iconpage}}}" alt="Icone Navegacao">
            <a id="navbar-texto">{{{page}}}</a>
        </div>

        <div class="collapse navbar-collapse" id="resNav">
            <ul class="nav navbar-nav navbar-right">
                <button type="btn" class="btn btn-primary"><a href="/">Home</a></button>
                <button type="btn" class="btn btn-primary"><a href="/products">Produtos</a></button>
                <button type="btn" class="btn btn-primary"><a href="/products/create">Criar Produto</a></button>
                <button type="btn" class="btn btn-primary"><a href="/about">Sobre</a></button>
            </ul>
        </div>
    </nav> 


    <body>
        {{{body}}}
    </body>

    <footer>
        <p>
            Rodapé
        </p>
    </footer>

</body>
</html>