<h1>Dashboard</h1>
<a href="/">Voltar</a>
<ul>
    {{#each itens}}
        <li>{{this }}</li>
    {{/each}}
</ul>

{{#with post}}
    <h1>{{title}}</h1>
    <p>{{category}}</p>
    <p>{{body}}</p>
    <p>{{price}}</p>
{{/with}}